.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 300px);
  }
  


#post-frame{
    background-color: rgb(238, 240, 135);
    aspect-ratio: calc(36/48);
    height: 500px;
}


#postimage {
    background-image: url("../assets/cat.jpg") ;
    height:200px;
    width:200px;
    left:20px; 
    top:90px;
    position:absolute;
}

#stickynote-container{
    height:395px;
    width:233px;
    position:relative;
    margin: 10px;
}



#stickynote {
    background-image: url("../assets/sticky_note.png");
    height:100%;
    /* rotate: deg; */
    transform: rotate(random(50)deg);
}



#stickynotedesc { 
    font-family: twin-marker;
    font-size: 1.5em;
    position: absolute;
    margin-top: 285px;
    margin-left: 20px;
    margin-right: 5px;
}


