#banner{
    height : 200px;
    width: 100%;

}

#profile{
    height: 200px;
    width: 100%;
}

.button{
    border:none;
    color: white;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-family: twin-marker;
    font-size: 1.5em;
}

.ProfileButton{
    background:none;
    cursor:pointer;
    border:none;
    padding:0;
    height: 32px;
    width: 128px;
}

.ProfileButton:active
{   
    background:url(./assets/logo.png) no-repeat;
}