[[extend 'layout.html']] [[block page_head]]
<link rel="stylesheet" href="css/addPostPage.css" />
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css" />
<link href="fonts/TwinMarker.ttf" />
<link rel="stylesheet" href="css/artwork.css" />
<link rel="stylesheet" href="css/bulma.css" />
[[end]]


<style>
	[v-cloak] {
		display: none;
	}
	input {
		top: 10px;
	}
</style>
<div id="vue-target" v-cloak>
	<nav
		overflow-x:auto
		id="upload"
		role="navigation"
		aria-label="main navigation"
	>
		<div id="upload-pos">
			<div id="paper">
				<div id="paper__bottom" class="paper__peice">
					<div id="paper__cancel" class="text-block">
						<a href="[[=URL('index')]]"> Cancel </a>
					</div>
				</div>
				<div id="paper__top" class="paper__peice">
					<span id="text">Create Post</span>
					
					<span class="feild_item feild_title">Title</span>
					<div class="control feild_item">
						<input type="text" v-model="add_title" class="input" />
					</div>


					<span class="feild_item feild_title">Description</span>
					<div class="control feild_item">
						<input type="text" v-model="add_description" class="textarea" />
					</div>
					<div class="control feild_item">
						<span class="file">
							<label class="file-label">
						  	<input class="file-input" type="file" @change="upload_file($event)">
						  	<span class="file-cta">
								<span class="file-icon">
									<i v-if="uploading" class="fa fa-spinner fa-pulse fa-fw"></i>
									<i v-else class="fa fa-upload fa-fw"></i>
								</span>
								<span class="file-label">
							  	Choose a file…
								</span>
						  	</span>
							<button class="button is-primary feild_item">Upload</button>
							</label>
						</span>
		
				   </div>
				</div>
			</div>
		</div>
	</nav>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let files_info_url = "[[=XML(files_info_url)]]";
  let obtain_gcs_url = "[[=XML(obtain_gcs_url)]]";
  let notify_url = "[[=XML(notify_url)]]";
  let delete_url = "[[=XML(delete_url)]]";
</script>
<script src="js/addPostPg.js"></script>
[[end]]
