[[extend 'layout.html']] [[block page_head]]
<link rel="stylesheet" href="css/addPostPage.css" />
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css" />
<link href="fonts/TwinMarker.ttf" />
<link rel="stylesheet" href="css/artwork.css" />
<link rel="stylesheet" href="css/bulma.css" />
[[end]]

<style>
	[v-cloak] {
		display: none;
	}
	input {
		top: 10px;
	}
</style>
<!-- 1 -->
<div id="vue-target">
	<nav
		overflow-x:auto
		id="upload"
		role="navigation"
		aria-label="main navigation"
	>
		<!-- <h2 class="subtitle is-1">Create Post</h2> -->
		<!-- <div id="text">Create Post<div> -->
		<div id="upload-pos">
			<div id="paper">
				<!-- pink paper -->
				<div id="paper__bottom" class="paper__peice">
					<div id="paper__cancel" class="text-block">
						<a href="[[= "[[=XML(index')]]"> Cancel </a>
					</div>
					<!-- Post Button -->
					<!-- <span id="paper__text">Post!</span> -->
				</div>
				<!-- yellow paper -->
				<div id="paper__top" class="paper__peice">
					<span id="text">Create Post</span>

					<span class="feild_item feild_title">Title</span>
					<div class="control feild_item">
						<input type="text" v-model="add_first_name" class="input" />
					</div>

					<span class="feild_item feild_title">Description</span>
					<div class="control feild_item">
						<input type="text" v-model="add_first_name" class="textarea" />
					</div>

					<p id="upload-button" class="control feild_item">
						<button
							v-if="file_path"
							class="button"
							@click="download_file"
							:class="{'disabled': !file_path}"
						>
							<span class="icon" v-if="download_url">
								<i class="fa fa-download fa-fw"></i>
							</span>
							<span>{{file_info}}</span>
						</button>
						<button v-else class="button is-static">No file uploaded</button>
					</p>

					<button class="button is-primary feild_item">Upload</button>
				</div>
			</div>
		</div>
	</nav>
</div>
<!-- <a class="button is-danger" href="[[= "[[=XML(index')]]">
		<span class="icon"><i class="fa fa-fw fa-backward"></i></span>
		<span>Cancel</span>
	</a> -->
<!-- <div>
    <h2 class="subtitle is-1"> Add a new product </h2>
    [[=form]]
</div> -->

[[block page_scripts]]
<script src="js/addPostPg.js"></script>
<!-- Loads the index-specific js for Vue -->
<script>
	let files_info_url= "[[=XML(files_info)]]";
	let obtain_gcs_url= "[[=XML(obtain_gcs)]]";
	let notify_url= "[[=XML(notify_upload)]]";
	let delete_url= "[[=XML(notify_delete)]]";
</script>

[[end]]
