[[extend "navbar.html"]]

<main id="page__artwork">
	<div id="details">
		<div>
			<h1>Horsy</h1>
			<div>
				<h1 id="title">By: Name</h1>
				<img id="preview-image" />
				<div id="options">
					<div class="option" id="option__pin">
						<img class="option__image" />
						<p class="option__text"></p>
					</div>
					<div class="option" id="option__branch">
						<img class="option__image" />
						<p class="option__text"></p>
					</div>
					<div id="option__download">
						<img />
					</div>
				</div>
			</div>
			<div id="profile">
				<div>
					<img />
				</div>
				<div>
					<h2>By: Name</h2>
					<h2>10/10/10</h2>
				</div>
			</div>
		</div>
		<div>
			<div>
				<img />
				<div></div>
			</div>
		</div>
	</div>
</main>
