[[extend "layout.html"]]

<!-- Navigation bar -->
<nav id="navbar" role="navigation" aria-label="main navigation">
	<div id="p-logo"></div>
	<input id="search-bar" type="text" />

	<div id="nav-right">
		<div id="paper">
			<a href="[[=URL('auth/login')]]">
				<div id="paper__bottom" class="paper__peice">
					<span id="paper__text">Get help by posting!</span>
				</div>
				<div id="paper__top" class="paper__peice"></div> </a
			><img
				id="paper__plus"
				width="200"
				height="200"
				src="assets/plus-solid.svg"
			/>
		</div>
		<a href="[[=URL('auth/login')]]">
			<img class="logo" width="70" src="assets/login.svg" />
		</a>
		<a id="sign-up" href="[[=URL('auth/register')]]">
			<img class="logo" width="70" src="assets/signup.svg" />
		</a>
	</div>
</nav>

[[include]]
