[[extend "layout.html"]] [[block page_head]]
<link rel="stylesheet" href="css/index.css" />
<link rel="stylesheet" href="css/post_grid.css" />
<!-- <script type="text/javascript"  src="js/post_grid.js"></script> -->



<script src="https://unpkg.com/vue@2.4.2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
[[end]]


<style>
	[v-cloak] {
		display: none;
	}
	input {
		top: 10px;
	}
</style>

<!-- header for front pg -->
<div id="vue-target" v-cloak>
	<div v-if="get"></div>
	<div id="header">
		<div id="header__left" class="header-col flex-center">
			<img id="logo" src="assets/logo_v2.svg" />
		</div>

		<div id="header__center" class="header-col">
			<!-- <div id="searchbar-frame" class="flex-center">
				<div id="search-bar">
					
					<img id="search-bar__frame" src="assets/searchbar.svg" />
					
					<input type="text" placeholder="Search artworks, tags, and users" />
					<img id="search-bar__icon" src="assets/magnifying-glass.svg" />
				</div>
			</div>

			<div class="flex-center">
				<a href="https://bulma.io/documentation/columns/basics/"
					><img src="assets/about_us_magnet.png" class="navigation-link animated-button"
				/></a>
			</div>
			<div class="flex-center">
				<img src="assets/how_it_works_magnet.png" class="navigation-link animated-button" />
			</div> -->
		</div>

		<div id="header__right" class="header-col">
			<div id="reg-button-frame" class="flex-center">

				[[if globals().get('user'):]] 
				<div id="user-dropdown">
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link is-primary">
						[[=globals().get('user').get('email')]]
						</a>
						<div class="navbar-dropdown">
						<a class="navbar-item" href="[[=URL('auth/logout')]]">Logout</a>
						<a class="navbar-item" href="[[=URL('profile', email)]]">Profile</a>
						<a class="navbar-item" href="[[=URL('auth/change_password')]]">Change Password</a>
						<a class="navbar-item" href="[[=URL('myPost')]]">My posts</a>
						<a class="navbar-item" href="[[=URL('addPostPg',0)]]">Add post</a></li>
			
						</div>
					</div>
				</div>

				[[else:]]
				<a class="navbar__button animated-button" href="[[=URL('auth/login')]]">
					<img src="assets/login_magnet.svg" class="reg-button" />
				</a>

				<a class="navbar__button animated-button" href="[[=URL('auth/register')]]">
					<img src="assets/signup_magnet.svg" class="reg-button" />
				</a>
				[[pass]]
			</div>

			
			<div id="paper-frame">
				<a href="[[=URL('addPostPg',0)]]">
					<div id="paper"></div>
						<img
							id="paper__plus"
							width="200"
							height="200"
							src="assets/plus-solid.svg"
						/>

						<img
							id="make-a-post"
							src="assets/make_a_post.svg"
						/>
				</div>
			</a>
		</div>

		<!-- mansory -->
		

	<div></div>
	</div>

	
	<main class="grid flex-center" >
		<div v-for="post in get_posts_of_parentPost(0)">
			<a href = "[[=URL('artwork',2)]]">
				<div id="stickynote-container" >
					<div id="stickynote">
						<img
								id="postimage"
								v-bind:src="post.file.data_url"
							/>
						<div id="stickynotedesc">
							{{post.title}}
						</div>
					</div>
				</div>
			</a>
		</div>
	</main>


		
	<!-- <main class="grid flex-center" v-for="file in files">
		<div id="stickynote-container">
			<div id="stickynote">
				<img
						id="postimage"
						v-bind:src="file.data_url"
					/>
				<div id="stickynotedesc">
					{{file.file_name}}
				</div>
			</div>
		</div>
</main> -->



</div>


[[block page_scripts]]
<script>
	const transformPosts = () => {
		var stickynotes = document.querySelectorAll("#stickynote");

		[].forEach.call(stickynotes, function(note) {
			let max = 10
			let min = -10
			let range = max - min + 1;
			var angle = (Math.floor(Math.random() * range) + min);
			note.style.transform = "rotate(" + angle + "deg)";
			
			
			
			note.style.top = (angle*1.5) +"px";
		});
	};
	
	const setRandomImages = () => {
		var theImages = new Array()

		theImages[0] = 'cat.jpg'
		theImages[1] = 'hexR.svg'
		theImages[2] = 'logo.png'
		theImages[3] = 'yellow.svg'
		theImages[3] = 'star_magnet.svg'
		theImages[3] = 'cat.jpg'
		theImages[3] = 'yellow.svg'

		
		
		var postimages = document.querySelectorAll("#postimage");
		
		[].forEach.call(postimages, function(postimage) {
			var j = 0
			var p = theImages.length;
			var whichImage = Math.round(Math.random()*(p-1));
			
			postimage.src = "assets/"+theImages[whichImage];
			
		});
	}
	

	const setRandomImageTxts = () => {
		var txts = new Array()

		txts[0] = "How can I improve my art skills?"
		txts[1] = "I need help with my art project."
		txts[2] =  "I'm stuck on my art. "
		txts[3] = "I don't know what to do next with my art."
		txts[4] =  "I need some inspiration for my art."

		
		
		var stickynotedescs = document.querySelectorAll("#stickynotedesc");
		
		[].forEach.call(stickynotedescs, function(desc) {
			var j = 0
			var p = txts.length;
			var whichTxt = Math.round(Math.random()*(p-1));
			
			desc.innerHTML = txts[whichTxt];
			
		});
	}
	
	transformPosts();
	//setRandomImages();
	//setRandomImageTxts();

	let get_images_url = "[[=XML(get_images_url)]]";
	let files_info_url = "[[=XML(files_info_url)]]";
	let obtain_gcs_url = "[[=XML(obtain_gcs_url)]]";
	let notify_url = "[[=XML(notify_url)]]";
	let delete_url = "[[=XML(delete_url)]]";
	let add_post_inner_url = "[[=XML(add_post_inner_url)]]";
	let get_posts_url = "[[=XML(get_posts_url)]]";

	
</script>
<script src="js/addPostPg.js"></script>
[[end]]

