[[extend "layout.html"]] [[block page_head]]
<link rel="stylesheet" href="css/landing.css" />
[[end]]

<!-- header for front pg -->
<div id="header">
	<div id="header__left" class="header-col flex-center">
		<img id="logo" src="assets/logo_v2.svg" />
	</div>

	<div id="header__center" class="header-col">
		<div id="searchbar-frame" class="flex-center">
			<div id="search-bar">
				<img id="search-bar__icon" src="assets/magnifying-glass.svg" />
				<img id="search-bar__frame" src="assets/searchbar.svg" />
				<input type="text" placeholder="Search artworks, tags, and users" />
			</div>
		</div>

		<div class="flex-center">
			<a href="https://bulma.io/documentation/columns/basics/"
				><img src="assets/about_us_magnet.png" class="navigation-link"
			/></a>
		</div>
		<div class="flex-center">
			<img src="assets/how_it_works_magnet.png" class="navigation-link" />
		</div>
	</div>

	<div id="header__right" class="header-col">
		<div id="paper-frame">
			<div id="reg-buttons"></div>
		</div>

		<div id=""></div>
	</div>
</div>
