[[extend "layout.html"]] [[block page_head]]
<link rel="stylesheet" href="css/myPost.css" />
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css" />
<link href="fonts/TwinMarker.ttf" />
<link rel="stylesheet" href="css/artwork.css" />
<link rel="stylesheet" href="css/bulma.css" />
<!-- add vue functionality -->
<script src="https://unpkg.com/vue@2.4.2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
[[end]]

<style>
	[v-cloak] {
		display: none;
	}
</style>

<div class="container" id="vue-target" v-cloak>
	<h2 class="subtitle is-1">My Artworks</h2>
	<table class="table is-striped is-fullwidth">
		<tr>
			<th>Name</th>
			<th>Image</th>
			<th>Owner</th>
			<th>Edit</th>
		</tr>
		<tr v-for="p in rows.slice().reverse()">
			
			<td>{{p.title}}</td>
			<!-- How do i loop this?
				Kris: The issue is that posts don't have a image, you have to
				use vue to get the image referencing the original post.-->
			<td> 
				<img
					class="image"
					style="width: 50px; height: 50px"
					v-bind:src="p.image"
				/>
			</td>

			<td>{{p.owner}}</td>
		</tr>
		[[pass]]
	</table>
	<a class="button is-success" href="[[=URL('addPost')]]">
		<span>Add Post</span>
	</a>
	<br>
	<a class="button is-danger" href="[[=URL('index')]]">
		<span class="icon"><i class="fa fa-fw fa-backward"></i></span>
		<span>Back</span>
	</a>
	
</div>
[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
	let get_image_url = "[[=XML(get_image_url)]]";
	let load_posts_url = "[[=XML(load_posts_url)]]";
	
</script>
<script src="js/myPost.js"></script>