[[extend "layout.html"]] [[block page_head]]
<link rel="stylesheet" href="css/myPost.css" />
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css" />
<link href="fonts/TwinMarker.ttf" />
<link rel="stylesheet" href="css/artwork.css" />
<link rel="stylesheet" href="css/bulma.css" />
[[end]]
<div class="container">
	<h2 class="subtitle is-1">My Artworks</h2>
	<table class="table is-striped is-fullwidth">
		<tr>
			<th>Name</th>
			<th>Image</th>
			<th>Owner</th>
			<th>Edit</th>
		</tr>
		[[for p in posts:]]
		<tr>
			<td>[[=p.title]]</td>
			<td>
				<img
					class="image"
					style="width: 50px; height: 50px"
					src="art/[[=p.image]]"
				/>
			</td>
			<td>[[=p.owner]]</td>
			<td>
				<a class="button is-warning" href="[[=URL('editPost', p.id)]]"
					><span class="icon"><i class="fa fa-fw fa-edit"></i></span>
				</a>

				<a class="button is-danger" href="[[=URL('deletePost',p.id)]]">
					<span class="icon"><i class="fa fa-fw fa-trash"></i></span>
				</a>
			</td>
		</tr>
		[[pass]]
	</table>
	<a class="button is-success" href="[[=URL('addPost')]]">
		<span>Add Post</span>
	</a>
	<br>
	<a class="button is-danger" href="[[=URL('index')]]">
		<span class="icon"><i class="fa fa-fw fa-backward"></i></span>
		<span>Back</span>
	</a>
	
</div>
