[[extend "layout.html"]]

[[block header]]
<link rel="stylesheet" href="css/navbar.css" />
[[end]]

<!-- Navigation bar -->
<nav id="navbar" role="navigation" aria-label="main navigation">
	<a id = "logo"    href="[[=URL('index')]]">
		<img  src="assets/logo.svg"  />
	</a>

	
	<div id="search-bar">
		<img id="search-bar__icon" src="assets/magnifying-glass.svg" />
		<img id="search-bar__frame" src="assets/searchbar.svg" />
		<input type="text" placeholder="Search artworks, tags, and users" />
	</div>


	<div id="nav-right">
		<div id="paper">
			<a href="[[=URL('addPostPg',0)]]">
				<div id="paper__bottom" class="paper__peice">
					<span id="paper__text">Get help by posting!</span>
				</div>
				<div id="paper__top" class="paper__peice"></div>
			</a>
			<img
				id="paper__plus"
				width="200"
				height="200"
				src="assets/plus-solid.svg"
			/>
		</div>

		[[if globals().get('user'):]]
          <div class="navbar-item">
            <p>[[=globals().get('user').get('email')]]</p>
          </div>
          [[pass]]
          <div class="navbar-item">
            <div class="buttons">
              [[if globals().get('user'):]]
              <a class="button is-light" href="[[=URL('auth/logout')]]">Sign out</a>
              [[else:]]
              <a class="button is-link" href="[[=URL('auth/plugin/oauth2google/login', vars=dict(next=URL('index')))]]">Sign In</a>
              [[pass]]
	</div>
	</div>
	</div>
</nav>
<br>
[[include]]
