[[extend "layout.html"]] [[block header]]
<link rel="stylesheet" href="css/navbar.css" />
[[end]]

<!-- Navigation bar -->
<nav id="navbar" role="navigation" aria-label="main navigation">
	<a id="logo" href="[[=URL('index')]]">
		<img src="assets/logo.svg" />
	</a>

	<div id="search-bar">
		<img id="search-bar__icon" src="assets/magnifying-glass.svg" />
		<img id="search-bar__frame" src="assets/searchbar.svg" />
		<input type="text" placeholder="Search artworks, tags, and users" />
	</div>
</nav>
<br />
[[include]]
