[[extend "navbar.html"]]


<body>
    <section class = "section">
        <!-- Place profile picture and description banner here-->
        <div class = "container">
            <!-- Using bulma columns to distribute content equally-->
            <div class = "columns block is-mobile is-vcentered ">
                <!--Profile picture here-->
                <div class = "column is-one-quarter">
                    <figure class="image is-1by1 is-128by128">
                        <img src="assets/cat.jpg">
                    </figure>
                </div>
                <!--Banner here-->
                <div class = "column is-three-quarter">
                    <figure class="image is-3by1 is-128by128">
                        <img src="assets/cat.jpg">
                    </figure>
                </div>
            </div>
        </div>

        <!-- Buttons for "Work in progress", "Finished", "Helped"-->
        <div class = "container">
            <!-- Using bulma columns to distribute content equally-->
            <div class = "columns block is-mobile is-vcentered">
                <!--Profile picture here-->
                <div class = "column is-one-fifth"></div>
                <div class = "column is-one-fifth">
                    <figure class="image is-3by1 is-128by128">
                        <img src="assets/cat.jpg">
                    </figure>
                </div>
                <div class = "column is-one-fifth">
                    <button class="button" href="[[=URL('auth/login')]]">
                        <img src="assets/cat.jpg" />
                    </a>
                </div>
                <div class = "column is-one-fifth">
                    <button class="button" href="[[=URL('auth/login')]]">
                        <img src="assets/cat.jpg" />
                    </a>
                </div>
                <div class = "column is-one-fifth"></div>
            </div>
        </div>





    </section>
</body>