[[extend "navbar.html"]] [[block page_head]]
<link rel="stylesheet" href="css/profile.css" />
<link rel="stylesheet" href="css/post_grid.css" />
<!-- <script src="post_grid.js"></script> -->
<script src="https://unpkg.com/vue@2.4.2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
[[end]]

<style>
	[v-cloak] {
		display: none;
	}
</style>

<body>
	<section class="section shadow" id="vue-target" v-cloak>
		<div id="top-stuff" class="">
			<img id="tape-top" src="assets/tape.svg" class="tape" />
			<img id="profile" class="top-item" src="assets/default.jpg" />
			<img id="banner" class="top-item" src="assets/cat.jpg" />
		</div>
		<!-- test edit profile 
        <a class="button is-warning" href="[[=URL('edit_profile', signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
        </a>-->

		<!-- Buttons for "Work in progress", "Finished", "Helped"-->
		<div class="container">
			<!-- Using bulma columns to distribute content equally-->
			<div class="columns block is-mobile is-vcentered">
				<!--Profile picture here-->
				<div class="column is-one-third"></div>
				<div class="column is-one-ninth">
					<!-- Work in Progress-->
					<button class="button ProfileButton" @click="set_tab('in_progress')">
						<img src="assets/InProgress.png" width="128" height="auto" />
					</button>
				</div>
			
				<div class="column is-one-ninth">
					<!-- Helped -->
					<button class="button ProfileButton" @click="set_tab('helped')">
						<img src="assets/Helped.png" width="128" height="auto" />
					</button>
				</div>
				<div class="column is-one-third"></div>
			</div>
		</div>
		<!-- {{set_filter_email([[=email]])}} -->
		<!-- In Progress Posts Here-->
		<main class="grid flex-center" v-if="current_tab == 'in_progress'" >
			<div v-for="post in get_posts_of_parentPost(0)">
				<a href = "[[=URL('artwork',2)]]">
					<div id="stickynote-container" >
						<div id="stickynote">
							<img
									id="postimage"
									v-bind:src="post.file.data_url"
								/>
							<div id="stickynotedesc">
								{{post.title}}
							</div>
						</div>
					</div>
				</a>
			</div>
		</main>

		

		<!-- Helped Posts Here-->
		<div class="container grid flex-center" v-if="current_tab == 'helped'">
			<div v-for="img in images">
				<div id="stickynote-container">
					<div id="stickynote">
						<img id="postimage" v-bind:src="files[img.id].data_url" />
						<div id="stickynotedesc">{{img.description}}</div>
					</div>
				</div>
			</div>
		</div>

		=======
		<!--
        Insert for loop to iterate posts here
        <div class = "container">
            Find floor of the amount of posts divided by 3
            for loop where it takes the next three posts:
                <div class = "columns block is-mobile is-vcentered">
                    for post in posts:
                        <tr> 

                        </tr>
        -->
	</section>
</body>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
	let get_images_url = "[[=XML(get_images_url)]]";
	let get_image_url = "[[=XML(get_image_url)]]";



	const transformPosts = () => {
		var stickynotes = document.querySelectorAll("#stickynote");

		[].forEach.call(stickynotes, function (note) {
			let max = 10;
			let min = -10;
			let range = max - min + 1;
			var angle = Math.floor(Math.random() * range) + min;
			note.style.transform = "rotate(" + angle + "deg)";

			note.style.top = angle * 1.5 + "px";
		});
	};

	transformPosts();

</script>
<script src="js/addPostPg.js"></script>
